
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* background: linear-gradient(
        180deg,
        #ffffff 0%,
        #fffaf5 35%,
        #fff3e6 70%,
        #ffedd5 100%
    ); */
    /* background: linear-gradient(292deg, #feeaea 0%, #fffaf5 35%, #fff3e6 70%, #fcefdc 100%); */

/* background: linear-gradient(292deg, #ffffff 0%, #fffaf5 35%, #fff3e6 70%, #ffedd5 100%); */
background-color: #ffedd5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(30px, 4.2vw, 72px);
    line-height: 1.2;
}

h2 {
    font-size: clamp(25px, 2.9vw, 48px);
    line-height: 1.2;
}

h3 {
    font-size: clamp(22px, 2.2vw, 29px);
    line-height: 1.4;
    font-weight: 500;
}
h4 {
    font-size: clamp(18px, 1.9vw, 22px);
    line-height: 1.4;
    font-weight: 600;
}
p {
    font-size: 16px;
}

/* Small devices */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* XXL devices */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}